.context-pb {
    background-color: #fff;
    
    &__in {
        padding: 50px 0;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__main {
        width: 385px;

        &_num {
            font-weight: 700;
            font-size: 210px;
            line-height: 100%;
            color: $blue;
        }

        &_title {
            margin-bottom: 30px;
        }
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: calc(100% - 385px - 130px);
        margin-bottom: -40px;

        &_item {
            width: 45%;
            margin-bottom: 40px;
            padding-left: 10px;
            border-left: 1px solid $blue;

            &_name {
                margin-bottom: 15px;
                font-weight: 700;
                font-size: 20px;
                line-height: 130%;
            }

            &_text {

            }
        }
    }
}


@media (max-width: 1000px) {

    .context-pb {

        &__in {

        }

        &__main {
            width: 48%;
        }

        &__body {
            width: 48%;
        }
    }
}

@media (max-width: 768px) {

    .context-pb {


        &__in {
            padding: 50px 0;
            flex-wrap: wrap;
        }

        &__main {
            width: 100%;
            margin-bottom: 20px;
        }

        &__body {
            width: 100%;
        }
    }
}

@media (max-width: 620px) {

    .context-pb {

        &__body {

            &_item {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}