.seo-sys {
    background-color: #fff;

    &__in {
        padding: 80px 0;
        background-image: url('../img/seo-sys.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 430px;
    }

    &__head {
        margin-bottom: 100px;

        &_title {
            margin-bottom: 40px;
            text-align: center;
        }

        &_text {
            text-align: center;
            font-weight: 500;
            font-size: 20px;
            line-height: 130%;
        }
    }

    &__body {

        &_list {
            display: flex;
            flex-wrap: wrap;
            width: 70%;
            justify-content: space-between;
        }

        &_item {
            width: 48%;
            padding-left: 15px;
            border-left: 5px solid $blue;
            margin-bottom: 60px;

            &_name {
                margin-bottom: 15px;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
            }

            &_text {

            }
        }
    }
}



@media (max-width: 1000px) {

    .seo-sys {

        &__in {
            background-image: unset;
        }

        &__head {
            margin-bottom: 40px;

            &_title {
                margin-bottom: 20px;
            }

            &_text {
                font-size: 16px;
            }
        }

        &__body {

            &_list {
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {

    .seo-sys {
        &__in {
            padding: 50px 0;
        }
        &__body {

            &_list {

            }

            &_item {
                width: 100%;
                margin-bottom: 25px;
            }
        }
    }
}