.header {
    
    &__in {
        

    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;

    }

    &__logo {
        width: 110px;
        height: 50px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: flex;
        }
    }

    &__burger {
        display: none;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        &_tel {
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            text-align: right;
        }

        &_ex {
            text-align: right;
        }
    }

    &__bottom {
        border-top: 5px solid #000;
        &_in {
            display: flex;
            align-items: center;
            justify-content: space-between;
          
            flex-wrap: wrap;
        }

        &_nav {
            display: flex;
            align-items: center;
            
            flex-wrap: wrap;

            &_item.active {
                a {
                    color: $blue;
                }
            }
            &_item {
                margin-right: 82px;
                padding: 15px 0;
                a {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    @include def-anim;

                    &:hover {
                        color: $blue;
                    }
                }
            }
        }

        &_feed {
            text-decoration: underline;
            color: $blue;
            padding: 15px 0;
        }
    }
}



@media (max-width: 768px) {
    .header {
        border-bottom: 5px solid #000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color:#E0E0E0;
        z-index: 100;

        &__top {
            padding: 15px 0;
        }
        &__bottom {

            display: none;
        }
        &__burger.active {

            span {

                &:nth-child(1) {
                    top: calc(50% - 2px);
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                    bottom: calc(50% - 2px);
                }
            }
        }
        &__burger {
            display: block;
            width: 60px;
            height: 30px;
            position: relative;
            span {
                position: absolute;
                height: 4px;
                background-color: #000;
                width: 100%;
                display: block;
                @include def-anim;

                &:nth-child(1) {
                    top: 0;
                    left: 0;

                }

                &:nth-child(2) {
                    top: calc(50% - 2px);
                    left: 0;
                }

                &:nth-child(3) {
                    bottom: 0;
                    left: 0;
                }
            }
        }

        &__info {
            display: none;
        }
    }
}

@media (max-width: 600px) {

    .header {

        &__info {
            display: none;
        }
    }
}