.contacts-hero {
    max-width: 540px;
    width: 100%;

    &__adr {
        padding-bottom: 30px;
        padding-left: 30px;
        position: relative;
        border-bottom: 3px solid #2A2A2A;
        margin-bottom: 30px;

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            content: '';
            background-image: url('../img/svg/contacts-icon-1.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &_item {
            position: relative;
            padding-left: 30px;
            margin-bottom: 50px;

            &:last-child {
                margin-bottom: 0;
            }
            &:after {
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                content: '';
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;

            }

            &_name {
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 15px;
            }

            &_val {

            }
        }

        &_item-tel {
            width: 48%;


            &:after {
                background-image: url('../img/svg/contacts-icon-2.svg');
            }
        }

        &_item-tm {

            &:after {
                background-image: url('../img/svg/contacts-icon-3.svg');
            }
        }

        &_item-mail {

            &:after {
                background-image: url('../img/svg/contacts-icon-4.svg');
            }
        }
    }
}